
body {
    background-color: #020202;
    background-image: url("https://www.hbo.com/content/dam/hbodata/series/game-of-thrones/episodes/3/got-s03-ka-1920.jpg/_jcr_content/renditions/cq5dam.web.1200.675.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
  
}
.cintillo{
    width: 78%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    
  }
  
  h3 {
    color: #fff;
    text-align: center;
    background-color: #282A2FA6; 
    margin-top: 1%; 
    
  }
  .card-got {
    width: 100%;
    height: 98%;
    margin: 1em;
    background:#fff;
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
    border-radius: 1em;
    text-align: center;
    align-content: flex-start;
  }

.card-name {
    padding: 0%;
}

.card img{
    width: 100%;
    height: 80%;
    align-self: center;
    object-fit: cover;
  }
  .footer {
    color: #fff;
    text-align: center;
    background-color: #282A2FA6; 
    margin-top: 1%; 
   
}
  